Repository carbonplan/offsets-db-api, changes with the labels that .github/labeler.yml gives for each.
All labels: api, ci

Update buildpack builder in fly.prod.toml and fly.staging.toml (#70)
  .github/workflows/fly.yml
  .github/workflows/label-prs.yaml
  environment-dev.yml
  environment.yml
  fly.prod.toml
  fly.staging.toml
  release.sh
Labels: api, ci

Update dependencies in environment files
  environment-dev.yml
  environment.yml
  pyproject.toml
Labels: api

Fix binning logic in `single_project_credits_by_transaction_date()` (#69)
  environment-dev.yml
  environment.yml
  offsets_db_api/routers/charts.py
  pyproject.toml
Labels: api

Update dependencies in environment files
  environment-dev.yml
  environment.yml
  pyproject.toml
Labels: api

add fly diagnostics
  .github/workflows/fly.yml
  release.sh
Labels: api, ci

Update release.sh script to include Python testing and database migration
  release.sh
Labels: api

Update logging level in alembic.ini
  alembic.ini
Labels: none

Disable alembic migrations and add Python version information
  release.sh
Labels: api

Update release.sh script
  release.sh
Labels: api

Update release.sh to use python -m alembic upgrade head instead of alembic upgrade head
  release.sh
Labels: api

Update dependencies and configuration files
  environment.yml
  fly.staging.toml
  pyproject.toml
  release.sh
Labels: api

Update dependencies in pyproject.toml
  pyproject.toml
Labels: none

Update pydantic version to 2.5
  pyproject.toml
Labels: none

Update pydantic version to >=1.10
  pyproject.toml
Labels: none

Update dependencies in environment files
  environment-dev.yml
  environment.yml
  pyproject.toml
Labels: api

Update URL field types in models.py
  offsets_db_api/models.py
Labels: api

Update datetime fields to use datetime.datetime instead of datetime.date
  offsets_db_api/models.py
  offsets_db_api/routers/files.py
  offsets_db_api/schemas.py
  offsets_db_api/settings.py
  pyproject.toml
  tests/test_projects.py
Labels: api

Refactor code to use model_dump() method for serialization
  offsets_db_api/routers/clips.py
  offsets_db_api/routers/credits.py
  offsets_db_api/routers/projects.py
Labels: api

Update api_key field type in settings.py
  offsets_db_api/settings.py
Labels: api

Update environment files
  environment-dev.yml
  environment.yml
Labels: api

Update builder and psycopg2 version
  fly.staging.toml
  pyproject.toml
  release.sh
Labels: api

Update dependencies in environment files
  environment-dev.yml
  environment.yml
  release.sh
Labels: api

Update date format in query parameters
  offsets_db_api/routers/credits.py
  offsets_db_api/routers/projects.py
Labels: api

Update builder image in fly.staging.toml
  fly.staging.toml
Labels: api

Remove unused dependencies and update date query parameters
  environment-dev.yml
  environment.yml
  offsets_db_api/routers/credits.py
  offsets_db_api/routers/projects.py
Labels: api

Add psycopg2-binary dependency
  pyproject.toml
Labels: none

Add PostgreSQL dependency
  environment-dev.yml
  environment.yml
  pyproject.toml
Labels: api

Update dependencies in environment files (#71)
  .github/workflows/fly.yml
  alembic.ini
  environment-dev.yml
  environment.yml
  fly.staging.toml
  offsets_db_api/models.py
  offsets_db_api/routers/clips.py
  offsets_db_api/routers/credits.py
  offsets_db_api/routers/files.py
  offsets_db_api/routers/projects.py
  offsets_db_api/schemas.py
  offsets_db_api/settings.py
  pyproject.toml
  release.sh
  tests/test_projects.py
Labels: api, ci

Update date fields to use datetime.date instead of datetime.datetime
  offsets_db_api/models.py
Labels: api

Add migration for resetting migrations and adding new fields to project
  migrations/versions/895a2d11e837_reset_migrations_and_add_new_fields_to_.py
Labels: api

Update offsets-db-data version
  pyproject.toml
Labels: none

Reset db migrations (#73)
  migrations/versions/895a2d11e837_reset_migrations_and_add_new_fields_to_.py
  offsets_db_api/models.py
  pyproject.toml
Labels: api

Add distinct count query for pagination
  offsets_db_api/query_helpers.py
  offsets_db_api/routers/clips.py
  offsets_db_api/routers/credits.py
  offsets_db_api/routers/projects.py
Labels: api

Add distinct count query for pagination (#75)
  offsets_db_api/query_helpers.py
  offsets_db_api/routers/clips.py
  offsets_db_api/routers/credits.py
  offsets_db_api/routers/projects.py
Labels: api

Refactor update_database.py to improve readability and add functionality
  update_database.py
Labels: none

Update deployment and database seeding workflows
  .github/workflows/fly.yml
  .github/workflows/update-db.yaml
Labels: ci

Fix typo in update_database.py file
  .github/workflows/fly.yml
  .github/workflows/update-db.yaml
  README.md
Labels: ci

Add AWS credentials and update category names in update_database.py
  .github/workflows/fly.yml
  update_database.py
Labels: ci

Refactor file processing logic and load clip files separately
  offsets_db_api/tasks.py
Labels: api

Fix pagination bug and update clip processing
  offsets_db_api/models.py
  offsets_db_api/routers/clips.py
  offsets_db_api/tasks.py
  update_database.py
Labels: api

.github/labeler.yml:

api:
  - offsets_db_api/**/*
  - migrations/**/*
  - Procfile
  - environment.yml
  - release.sh
  - fly.*.toml

ci:
  - .github/*
  - .github/**/*
