Repository carbonplan/offsets-db-api, changes with the labels that .github/labeler.yml gives for each.
All labels: api, ci

update projects_by_category endpoint
  offsets_db_api/routers/charts.py
  tests/test_charts.py
Labels: api

update `/projects_by_credit_totals` endpoint
  offsets_db_api/routers/charts.py
Labels: api

update `/credits_by_transaction_date/{project_id}` endpoint
  offsets_db_api/routers/charts.py
Labels: api

update `/credits_by_transaction_date` endpoint
  offsets_db_api/routers/charts.py
Labels: api

update `/projects_by_listing_date` endpoint
  offsets_db_api/routers/charts.py
Labels: api

remove unused functions
  offsets_db_api/routers/charts.py
  tests/test_charts.py
Labels: api

update charts
  offsets_db_api/routers/charts.py
Labels: api

refactor endpoints for improved readability and maintenance (#116)
  offsets_db_api/cache.py
  offsets_db_api/database.py
  offsets_db_api/log.py
  offsets_db_api/main.py
  offsets_db_api/models.py
  offsets_db_api/query_helpers.py
  offsets_db_api/routers/charts.py
  offsets_db_api/routers/clips.py
  offsets_db_api/routers/credits.py
  offsets_db_api/routers/files.py
  offsets_db_api/routers/health.py
  offsets_db_api/routers/projects.py
  offsets_db_api/security.py
  offsets_db_api/sql_helpers.py
  offsets_db_api/tasks.py
  tests/test_charts.py
Labels: api

update tests for `/files` endpoint
  tests/test_files.py
Labels: none

Refactor data formatting in charts.py
  offsets_db_api/routers/charts.py
Labels: api

Refactor test command in main.yaml to run specific test file
  .github/workflows/main.yaml
Labels: ci

delete unused query_helpers.py
  offsets_db_api/query_helpers.py
Labels: api

fix imports
  offsets_db_api/cache.py
  offsets_db_api/sql_helpers.py
Labels: api

update tests for `/projects` endpoint
  environment-dev.yml
  requirements.txt
  tests/test_projects.py
Labels: api

update test_credits.py
  .github/workflows/main.yaml
  tests/test_credits.py
Labels: ci

update tests/test_clips.py
  .github/workflows/main.yaml
  tests/test_clips.py
Labels: ci

update test_clips.py
  tests/test_clips.py
Labels: none

update test_sql_helpers
  .github/workflows/main.yaml
  tests/test_query_helpers.py
  tests/test_sql_helpers.py
Labels: ci

update test_charts.py
  tests/test_charts.py
Labels: none

update test_health.py
  tests/test_health.py
Labels: none

update conftest
  tests/conftest.py
  tests/test_health.py
Labels: none

add -s to diagnose hanging tests
  .github/workflows/main.yaml
Labels: ci

remove daily frequencies
  tests/test_charts.py
Labels: none

disable stdout print
  .github/workflows/main.yaml
Labels: ci

fix test_clips
  tests/test_clips.py
Labels: none

update clips
  tests/test_clips.py
Labels: none

update tests
  tests/test_clips.py
Labels: none

break test_clip into multiple tests
  tests/test_clips.py
Labels: none

update files
  tests/conftest.py
  tests/test_files.py
Labels: none

update sorting function
  offsets_db_api/sql_helpers.py
Labels: api

Refactor sorting function to support case-insensitive sorting for string fields
  offsets_db_api/sql_helpers.py
Labels: api

update tests
  tests/test_credits.py
Labels: none

update tests
  tests/test_clips.py
Labels: none

Add codecov configuration
  .github/workflows/main.yaml
  README.md
  codecov.yml
Labels: ci

Refactor deployment workflow and update production database
  .github/workflows/fly.yml
Labels: ci

Update tests (#117)
  .github/workflows/fly.yml
  .github/workflows/main.yaml
  README.md
  codecov.yml
  environment-dev.yml
  offsets_db_api/cache.py
  offsets_db_api/query_helpers.py
  offsets_db_api/routers/charts.py
  offsets_db_api/sql_helpers.py
  requirements.txt
  tests/conftest.py
  tests/test_charts.py
  tests/test_clips.py
  tests/test_credits.py
  tests/test_files.py
  tests/test_health.py
  tests/test_projects.py
  tests/test_query_helpers.py
  tests/test_sql_helpers.py
Labels: api, ci

Update offsets-db-data version to 2024.8.0
  requirements.txt
Labels: api

Refactor CreditBase model to include additional beneficiary fields
  migrations/versions/6c863cafdf94_add_beneficiary_data_to_credit_model.py
  offsets_db_api/models.py
Labels: api

update account field description
  offsets_db_api/models.py
Labels: api

Refactor file URLs to use updated dates
  tests/conftest.py
  tests/test_files.py
  update_database.py
Labels: none

.github/labeler.yml:

api:
  - changed-files:
      - any-glob-to-any-file:
          - offsets_db_api/**/*
          - migrations/**/*
          - Procfile
          - requirements.txt
          - release.sh
          - fly.*.toml

ci:
  - changed-files:
      - any-glob-to-any-file:
          - .github/*
          - .github/**/*
