Repository carbonplan/offsets-db-api, changes with the labels that .github/labeler.yml gives for each.
All labels: api, ci

Refactor file URLs to use updated dates
  update_database.py
Labels: none

Add beneficiary data to Credit Model (#118)
  migrations/versions/6c863cafdf94_add_beneficiary_data_to_credit_model.py
  offsets_db_api/models.py
  requirements.txt
  tests/conftest.py
  tests/test_files.py
  update_database.py
Labels: api

enable search across `beneficiary`, `note`, `reason`, `account` in `/credits` endpoint
  offsets_db_api/routers/credits.py
Labels: api

update docstring
  offsets_db_api/routers/credits.py
Labels: api

Update offsets-db-data version in requirements.txt
  requirements.txt
Labels: api

Rename credit transaction fields to reflect retirement context
  migrations/versions/8b97dd22cafd_rename_credit_transaction_fields_to_.py
  offsets_db_api/models.py
Labels: api

Update file URLs to reflect latest data in tests and update_database.py
  tests/conftest.py
  tests/test_files.py
  update_database.py
Labels: none

Update fly.yml to deploy with depot option
  .github/workflows/fly.yml
Labels: ci

Update fly.yml to remove depot option in deploy command
  .github/workflows/fly.yml
Labels: ci

Pinning version for builder-jammy-full due to 'max depth exceeded' issue
  fly.prod.toml
  fly.staging.toml
Labels: api

Update builder and buildpack versions in fly.toml files
  fly.prod.toml
  fly.staging.toml
  release.sh
  runtime.txt
Labels: api

Update builder and buildpack versions in fly.toml files
  fly.staging.toml
Labels: api

Update builder and buildpack versions in fly.toml files
  fly.prod.toml
  fly.staging.toml
Labels: api

Rename credit transaction fields to reflect retirement context (#121)
  fly.prod.toml
  fly.staging.toml
  migrations/versions/8b97dd22cafd_rename_credit_transaction_fields_to_.py
  offsets_db_api/models.py
  release.sh
  requirements.txt
  runtime.txt
  tests/conftest.py
  tests/test_files.py
  update_database.py
Labels: api

Refactor search fields in credits endpoint to reflect retirement context
  Procfile
  offsets_db_api/routers/credits.py
Labels: api

Refactor gunicorn process name in fly.staging.toml
  fly.staging.toml
Labels: api

Refactor search fields in credits endpoint to enable trigram similarity search
  migrations/versions/8b97dd22cafd_rename_credit_transaction_fields_to_.py
  offsets_db_api/routers/credits.py
Labels: api

Refactor table truncation logic and improve data writing in process_dataframe function
  offsets_db_api/tasks.py
Labels: api

Refactor table truncation logic and improve data writing in process_dataframe function (#122)
  offsets_db_api/tasks.py
Labels: api

remove unnecessary function helpers
  offsets_db_api/routers/credits.py
Labels: api

Refactor Procfile and fly.toml files
  Procfile
  fly.prod.toml
  fly.staging.toml
Labels: api

Refactor Procfile and fly.toml files (#123)
  Procfile
  fly.prod.toml
  fly.staging.toml
Labels: api

add `pg_trgm` extension and ensure the indexes are maintained during db update
  migrations/script.py.mako
  migrations/versions/94e3b0854cad_reset_migrations_and_add_indexes.py
  offsets_db_api/models.py
  offsets_db_api/tasks.py
Labels: api

Refactor ensure_projects_exist function to improve project ID checking and creation
  offsets_db_api/tasks.py
Labels: api

add url, category, protocol to the placeholder projects
  offsets_db_api/tasks.py
Labels: api

Remove b-tree indexes
  migrations/versions/46b4797494ca_remove_b_tree_indexes.py
  offsets_db_api/models.py
Labels: api

add `pg_trgm` extension and ensure the indexes are maintained during db update (#124)
  migrations/script.py.mako
  migrations/versions/46b4797494ca_remove_b_tree_indexes.py
  migrations/versions/94e3b0854cad_reset_migrations_and_add_indexes.py
  offsets_db_api/models.py
  offsets_db_api/tasks.py
Labels: api

Refactor Procfile and fly.toml files (#123)
  fly.prod.toml
Labels: api

add `pg_trgm` extension and ensure the indexes are maintained during db update (#124)
  migrations/script.py.mako
  migrations/versions/46b4797494ca_remove_b_tree_indexes.py
  migrations/versions/94e3b0854cad_reset_migrations_and_add_indexes.py
  offsets_db_api/models.py
  offsets_db_api/tasks.py
Labels: api

remove `func.lower()`: since the GIN indexes already use `lower()`, we don't need to apply it again in our query
  offsets_db_api/routers/credits.py
Labels: api

enable search across `beneficiary`, `note`, `reason`, `account` in `/credits` endpoint (#120)
  offsets_db_api/routers/credits.py
Labels: api

Update offsets-db-data requirement to version 2024.11
  requirements.txt
Labels: api

Update dependencies in requirements.txt for FastAPI, offsets-db-data, and sqlmodel
  requirements.txt
Labels: api

Update alembic and psycopg2-binary versions in requirements.txt
  requirements.txt
Labels: api

Update Python buildpack version and adjust VM resources in Fly configuration
  fly.prod.toml
  fly.staging.toml
Labels: api

Increase VM memory to 4GB and simplify data retrieval logic in post_data_to_environment function
  fly.staging.toml
  update_database.py
Labels: api

Increase Gunicorn timeout from 120 to 300 seconds in production and staging configurations
  fly.prod.toml
  fly.staging.toml
Labels: api

Update dependencies (#128)
  fly.prod.toml
  fly.staging.toml
  requirements.txt
  update_database.py
Labels: api

Update GitHub Actions workflow to configure AWS credentials
  .github/workflows/update-db.yaml
Labels: ci

Configure AWS credentials in GitHub Actions workflows
  .github/workflows/fly.yml
  .github/workflows/main.yaml
  .github/workflows/update-db.yaml
Labels: ci

.github/labeler.yml:

api:
  - changed-files:
      - any-glob-to-any-file:
          - offsets_db_api/**/*
          - migrations/**/*
          - Procfile
          - requirements.txt
          - release.sh
          - fly.*.toml

ci:
  - changed-files:
      - any-glob-to-any-file:
          - .github/*
          - .github/**/*
