Repository carbonplan/offsets-db-api, changes with the labels that .github/labeler.yml gives for each.
All labels: api, ci

update tests files
  .github/workflows/update-db.yaml
  tests/conftest.py
  tests/test_files.py
  update_database.py
Labels: ci

Update dependencies in dependabot.yml and pre-commit-config.yaml
  .github/dependabot.yml
  .pre-commit-config.yaml
Labels: ci

update tests files (#103)
  .github/dependabot.yml
  .github/workflows/update-db.yaml
  .pre-commit-config.yaml
  tests/conftest.py
  tests/test_files.py
  update_database.py
Labels: ci

Update list of registries
  load-testing/locustfile.py
  offsets_db_api/app_metadata.py
  offsets_db_api/schemas.py
  requirements.txt
Labels: api

Update file URLs to use the latest date
  tests/conftest.py
  tests/test_files.py
  update_database.py
Labels: none

Update list of registries (#105)
  load-testing/locustfile.py
  offsets_db_api/app_metadata.py
  offsets_db_api/schemas.py
  requirements.txt
  tests/conftest.py
  tests/test_files.py
  update_database.py
Labels: api

Update README.md
  README.md
Labels: none

Lint readme
  README.md
Labels: none

Update README.md (#106)
  README.md
Labels: none

bump offsets-db-data version
  requirements.txt
Labels: api

bump offsets-db-data version (#107)
  requirements.txt
Labels: api

Update link for terms of data access
  README.md
Labels: none

Patch terms of data access (#108)
  README.md
Labels: none

update titles for consistency
  README.md
Labels: none

update titles for consistency (#109)
  README.md
Labels: none

Update offsets-db-data version to 2024.3.5
  requirements.txt
Labels: api

Update offsets-db-data version to 2024.3.5 (#110)
  requirements.txt
Labels: api

Update offsets-db-data version to 2024.3.6
  requirements.txt
Labels: api

Update offsets-db-data version to 2024.3.6 (#111)
  requirements.txt
Labels: api

Update pre-commit hooks to latest versions
  .pre-commit-config.yaml
  migrations/versions/895a2d11e837_reset_migrations_and_add_new_fields_to_.py
  pyproject.toml
Labels: api

Update vm sizes and web concurrency for production and staging environments
  fly.prod.toml
  fly.staging.toml
Labels: api

chore: Update primary region to "dfw" in staging configuration file
  fly.staging.toml
Labels: api

Update vm sizes and web concurrency for production and staging environments (#113)
  .pre-commit-config.yaml
  fly.prod.toml
  fly.staging.toml
  migrations/versions/895a2d11e837_reset_migrations_and_add_new_fields_to_.py
  pyproject.toml
Labels: api

update offsets-db-data version to 2024.6.0
  requirements.txt
Labels: api

update offsets-db-data version to 2024.6.0 (#114)
  requirements.txt
Labels: api

refactor projects to use SQLmodel's `select()`
  offsets_db_api/routers/projects.py
  offsets_db_api/sql_helpers.py
Labels: api

remove unused type hints
  offsets_db_api/routers/projects.py
Labels: api

refactor `routers.projects` to use SQLmodel's `select()` (#115)
  offsets_db_api/routers/projects.py
  offsets_db_api/sql_helpers.py
Labels: api

Revert "refactor `routers.projects` to use SQLmodel's `select()` (#115)"
  offsets_db_api/routers/projects.py
  offsets_db_api/sql_helpers.py
Labels: api

use subqueries instead of joins for improved readability and maintainance
  offsets_db_api/routers/files.py
  offsets_db_api/routers/projects.py
Labels: api

Refactor import statements for log module
  offsets_db_api/cache.py
  offsets_db_api/log.py
  offsets_db_api/main.py
  offsets_db_api/query_helpers.py
  offsets_db_api/routers/charts.py
  offsets_db_api/routers/clips.py
  offsets_db_api/routers/credits.py
  offsets_db_api/routers/files.py
  offsets_db_api/routers/health.py
  offsets_db_api/routers/projects.py
  offsets_db_api/sql_helpers.py
  offsets_db_api/tasks.py
Labels: api

Refactor import statements
  offsets_db_api/cache.py
  offsets_db_api/database.py
  offsets_db_api/main.py
  offsets_db_api/models.py
  offsets_db_api/query_helpers.py
  offsets_db_api/routers/charts.py
  offsets_db_api/routers/clips.py
  offsets_db_api/routers/credits.py
  offsets_db_api/routers/files.py
  offsets_db_api/routers/health.py
  offsets_db_api/security.py
  offsets_db_api/tasks.py
Labels: api

Refactor logging statements for improved readability
  offsets_db_api/routers/charts.py
Labels: api

fix filters
  offsets_db_api/routers/projects.py
Labels: api

more type hints
  offsets_db_api/sql_helpers.py
Labels: api

use sql helpers in clips.py
  offsets_db_api/routers/clips.py
Labels: api

update credits endpoint to use `select()`
  offsets_db_api/routers/credits.py
  offsets_db_api/sql_helpers.py
Labels: api

add pagination to /files endpoint
  offsets_db_api/models.py
  offsets_db_api/routers/files.py
  offsets_db_api/sql_helpers.py
Labels: api

fix model's type hint
  offsets_db_api/models.py
  offsets_db_api/sql_helpers.py
Labels: api

update /credits_by_category endpoint
  offsets_db_api/routers/charts.py
Labels: api

.github/labeler.yml:

api:
  - changed-files:
      - any-glob-to-any-file:
          - offsets_db_api/**/*
          - migrations/**/*
          - Procfile
          - requirements.txt
          - release.sh
          - fly.*.toml

ci:
  - changed-files:
      - any-glob-to-any-file:
          - .github/*
          - .github/**/*
