Repository carbonplan/offsets-db-api, changes with the labels that .github/labeler.yml gives for each.
All labels: api, ci

formatting only
  offsets_db_api/routers/charts.py
  offsets_db_api/routers/clips.py
  offsets_db_api/routers/credits.py
  offsets_db_api/routers/projects.py
Labels: api

fix clips endpoint
  offsets_db_api/models.py
  offsets_db_api/routers/clips.py
Labels: api

update projects
  offsets_db_api/routers/projects.py
Labels: api

fix logging
  offsets_db_api/routers/projects.py
Labels: api

update tests
  offsets_db_api/models.py
  offsets_db_api/routers/clips.py
  offsets_db_api/routers/projects.py
  tests/test_clips.py
  tests/test_projects.py
Labels: api

update clips: use `join` table (#56)
  migrations/env.py
  migrations/versions/662a96b9d816_clip_and_project_join_table.py
  offsets_db_api/models.py
  offsets_db_api/routers/clips.py
  offsets_db_api/routers/projects.py
  offsets_db_api/tasks.py
  tests/test_clips.py
  tests/test_projects.py
Labels: api

include project category in '/credits'
  offsets_db_api/models.py
  offsets_db_api/routers/credits.py
Labels: api

add category to clips
  offsets_db_api/models.py
  offsets_db_api/routers/clips.py
Labels: api

update credit model
  offsets_db_api/models.py
Labels: api

update clips
  offsets_db_api/models.py
  offsets_db_api/routers/clips.py
  tests/test_clips.py
Labels: api

include project category in `/credits` and `/clips` payloads (#59)
  offsets_db_api/models.py
  offsets_db_api/routers/clips.py
  offsets_db_api/routers/credits.py
  tests/test_clips.py
Labels: api

Refactor code for filtering valid projects based on categories
  offsets_db_api/routers/charts.py
Labels: api

update logging
  offsets_db_api/routers/charts.py
Labels: api

Refactor `filter_valid_projects` utility function to handle edge cases (#60)
  offsets_db_api/routers/charts.py
Labels: api

update pre-commit hooks and add cron job
  .github/workflows/fly.yml
  .pre-commit-config.yaml
  pyproject.toml
Labels: ci

update README
  README.md
Labels: none

update pre-commit hooks and add cron job (#61)
  .github/workflows/fly.yml
  .pre-commit-config.yaml
  README.md
  pyproject.toml
Labels: ci

fix if condition
  .github/workflows/fly.yml
Labels: ci

update dependencies
  .pre-commit-config.yaml
  environment-dev.yml
  environment.yml
  offsets_db_api/models.py
  pyproject.toml
Labels: api

update tasks: import models from offsets-db-data
  offsets_db_api/tasks.py
Labels: api

update dependencies: integrate w/ offsets-db-data (#62)
  .pre-commit-config.yaml
  environment-dev.yml
  environment.yml
  offsets_db_api/models.py
  offsets_db_api/tasks.py
  pyproject.toml
Labels: api

update `CreditWithCategory` model in `models.py` to include a list of `ProjectInfo` objects instead of using separate `project_id` and `category` fields
  .github/workflows/fly.yml
  offsets_db_api/models.py
  offsets_db_api/routers/credits.py
Labels: api, ci

update tests
  tests/test_credits.py
Labels: none

update `CreditWithCategory` model in `models.py` to include a list of `ProjectInfo` objects (#63)
  .github/workflows/fly.yml
  offsets_db_api/models.py
  offsets_db_api/routers/credits.py
  tests/test_credits.py
Labels: api, ci

add first_issuance_at and first_retirement_at to project
  migrations/env.py
  migrations/versions/0419f13d9065_create_project_id_indexes.py
  migrations/versions/662a96b9d816_clip_and_project_join_table.py
  migrations/versions/cd307c691d94_reset_migrations.py
  migrations/versions/f099826eeacd_add_clips_to_database.py
  migrations/versions/fb0ee588e6eb_reset_migrations_and_add_new_fields_to_.py
  offsets_db_api/models.py
Labels: api

update seed data
  migrations/versions/08de868a61b6_reset_migrations_and_add_new_fields_to_.py
  offsets_db_api/models.py
  update_database.py
Labels: api

update migrations
  migrations/versions/8ed0e389ff06_reset_migrations_and_add_new_fields_to_.py
Labels: api

Update notes
  notes.md
Labels: none

add first_issuance_at and first_retirement_at to project (#66)
  migrations/env.py
  migrations/versions/0419f13d9065_create_project_id_indexes.py
  migrations/versions/662a96b9d816_clip_and_project_join_table.py
  migrations/versions/8ed0e389ff06_reset_migrations_and_add_new_fields_to_.py
  migrations/versions/cd307c691d94_reset_migrations.py
  migrations/versions/f099826eeacd_add_clips_to_database.py
  notes.md
  offsets_db_api/models.py
  update_database.py
Labels: api

fix category bucket
  offsets_db_api/routers/charts.py
  tests/test_charts.py
Labels: api

update tests
  tests/test_charts.py
Labels: none

fix category bucket (#67)
  offsets_db_api/routers/charts.py
  tests/test_charts.py
Labels: api

Fix binning logic in single_project_credits_by_transaction_date()
  offsets_db_api/routers/charts.py
Labels: api

Update actions/labeler version to v4
  .github/workflows/label-prs.yaml
Labels: ci

Update deployment condition in fly.yml
  .github/workflows/fly.yml
Labels: ci

Update buildpack builder in fly.prod.toml and fly.staging.toml
  fly.prod.toml
  fly.staging.toml
Labels: api

use base
  fly.prod.toml
  fly.staging.toml
Labels: api

Update offsets-db-data version in environment.yml and environment-dev.yml
  environment-dev.yml
  environment.yml
Labels: api

update release command
  release.sh
Labels: api

Update actions/labeler version to v4
  .github/workflows/label-prs.yaml
Labels: ci

.github/labeler.yml:

api:
  - offsets_db_api/**/*
  - migrations/**/*
  - Procfile
  - environment.yml
  - release.sh
  - fly.*.toml

ci:
  - .github/*
  - .github/**/*
