Repository carbonplan/offsets-db-api, changes with the labels that .github/labeler.yml gives for each.
All labels: api, ci

.github/labeler.yml:

api:
  - offsets_db_api/**/*
  - migrations/**/*
  - Procfile
  - environment.yml
  - release.sh
  - fly.*.toml

ci:
  - .github/*
  - .github/**/*

Revert "Fix pagination bug and update clip processing"
  offsets_db_api/models.py
  offsets_db_api/routers/clips.py
  offsets_db_api/tasks.py
  update_database.py
Labels: api

Revert "Revert "Fix pagination bug and update clip processing""
  offsets_db_api/models.py
  offsets_db_api/routers/clips.py
  offsets_db_api/tasks.py
  update_database.py
Labels: api

Refactor database table creation and data processing in tasks.py
  offsets_db_api/tasks.py
Labels: api

Add file upload functionality and update test cases
  tests/conftest.py
  tests/test_clips.py
  tests/test_files.py
Labels: none

Add check for empty clip files
  offsets_db_api/tasks.py
Labels: api

Remove unnecessary branch restrictions from workflow_dispatch event
  .github/workflows/update-db.yaml
Labels: ci

Refactor update_database.py to improve readability (#76)
  .github/workflows/fly.yml
  .github/workflows/update-db.yaml
  README.md
  offsets_db_api/models.py
  offsets_db_api/routers/clips.py
  offsets_db_api/tasks.py
  tests/conftest.py
  tests/test_clips.py
  tests/test_files.py
  update_database.py
Labels: api, ci

Add pandas library and update data retrieval logic
  .github/workflows/fly.yml
  .github/workflows/update-db.yaml
  .pre-commit-config.yaml
  update_database.py
Labels: ci

Add pandas library and update data retrieval logic (#77)
  .github/workflows/fly.yml
  .github/workflows/update-db.yaml
  .pre-commit-config.yaml
  update_database.py
Labels: ci

Add API key authorization to routers
  offsets_db_api/routers/charts.py
  offsets_db_api/routers/clips.py
  offsets_db_api/routers/credits.py
  offsets_db_api/routers/files.py
  offsets_db_api/routers/projects.py
  offsets_db_api/security.py
  offsets_db_api/settings.py
Labels: api

Update OFFSETS_DB_API_KEY value and add tests for authorized and unauthorized users
  .github/workflows/main.yaml
  tests/conftest.py
  tests/test_health.py
Labels: ci

update tests
  tests/test_projects.py
Labels: none

Add autouse=True to test_app fixture and fix missing_api_key test
  tests/conftest.py
  tests/test_health.py
Labels: none

Add API key authorization to routers (#78)
  .github/workflows/main.yaml
  offsets_db_api/routers/charts.py
  offsets_db_api/routers/clips.py
  offsets_db_api/routers/credits.py
  offsets_db_api/routers/files.py
  offsets_db_api/routers/projects.py
  offsets_db_api/security.py
  offsets_db_api/settings.py
  tests/conftest.py
  tests/test_health.py
  tests/test_projects.py
Labels: api, ci

Update cron schedule and AWS environment variables
  .github/workflows/update-db.yaml
  fly.prod.toml
  fly.staging.toml
Labels: api, ci

Add auto stop/start machines and min machines running configuration
  fly.prod.toml
  fly.staging.toml
Labels: api

Add force_https option to fly.prod.toml and fly.staging.toml
  fly.prod.toml
  fly.staging.toml
Labels: api

Update dependencies and project configuration
  environment.yml
  pyproject.toml
  requirements.txt
Labels: api

Update DB workflow and add API key handling
  .github/workflows/update-db.yaml
  update_database.py
Labels: ci

Add OFFSETS_DB_API_KEY_STAGING and OFFSETS_DB_API_KEY_PRODUCTION
  .github/workflows/fly.yml
Labels: ci

Fix DB update workflow and update build configs (#79)
  .github/workflows/fly.yml
  .github/workflows/update-db.yaml
  environment.yml
  fly.prod.toml
  fly.staging.toml
  pyproject.toml
  requirements.txt
  update_database.py
Labels: api, ci

Update builder image in fly.prod.toml and fly.staging.toml
  fly.prod.toml
  fly.staging.toml
Labels: api

Update builder image in fly.prod.toml and fly.staging.toml (#80)
  fly.prod.toml
  fly.staging.toml
Labels: api

Update offsets-db-data version
  requirements.txt
Labels: none
