Repository carbonplan/offsets-db-api, changes with the labels that .github/labeler.yml gives for each.
All labels: api, ci

.github/labeler.yml:

api:
  - changed-files:
      - any-glob-to-any-file:
          - offsets_db_api/**/*
          - migrations/**/*
          - Procfile
          - requirements.txt
          - release.sh
          - fly.*.toml

ci:
  - changed-files:
      - any-glob-to-any-file:
          - .github/*
          - .github/**/*

Update GitHub Actions workflow to configure AWS credentials (#129)
  .github/workflows/fly.yml
  .github/workflows/main.yaml
  .github/workflows/update-db.yaml
Labels: ci

Add permissions for id-token and contents in GitHub Actions workflow
  .github/workflows/fly.yml
Labels: ci

Add permissions for id-token and contents in GitHub Actions workflow (#130)
  .github/workflows/fly.yml
Labels: ci

Add project type support and enhance file processing logging
  migrations/versions/46b4797494ca_remove_b_tree_indexes.py
  migrations/versions/8738137f943c_reset_database.py
  offsets_db_api/models.py
  offsets_db_api/routers/files.py
  offsets_db_api/routers/projects.py
  offsets_db_api/schemas.py
  offsets_db_api/tasks.py
Labels: api

Update test data URLs for November 2024 and add project types dataset
  tests/conftest.py
Labels: none

Add project types to database update function
  update_database.py
Labels: none

Update cache expiration to 2 hours and add project type filter to project queries
  offsets_db_api/main.py
  offsets_db_api/routers/projects.py
Labels: api

Add project type to the `/projects/` and `/projects/{project_id'}` endpoints (#131)
  migrations/versions/46b4797494ca_remove_b_tree_indexes.py
  migrations/versions/8738137f943c_reset_database.py
  offsets_db_api/main.py
  offsets_db_api/models.py
  offsets_db_api/routers/files.py
  offsets_db_api/routers/projects.py
  offsets_db_api/schemas.py
  offsets_db_api/tasks.py
  tests/conftest.py
  update_database.py
Labels: api

Refactor Slack message payload to use method and include channel in the payload
  .github/workflows/fly.yml
Labels: ci

Refactor Slack message workflow to use chat.postMessage method and include channel in payload
  .github/workflows/update-db.yaml
Labels: ci

Update-slack-alerts (#134)
  .github/workflows/fly.yml
  .github/workflows/update-db.yaml
Labels: ci

Update Slack notification workflow to use token parameter instead of env variable
  .github/workflows/fly.yml
  .github/workflows/update-db.yaml
Labels: ci

Update Slack notification workflow to use token parameter instead of env variable (#135)
  .github/workflows/fly.yml
  .github/workflows/update-db.yaml
Labels: ci

Add project_type_source field to Project model and update queries
  offsets_db_api/models.py
  offsets_db_api/routers/projects.py
Labels: api

Add project_type_source field to Project model and update queries (#137)
  offsets_db_api/models.py
  offsets_db_api/routers/projects.py
Labels: api

enable search across beneficiary columns on endpoint
  offsets_db_api/routers/projects.py
Labels: api

Refactor project search functionality to include beneficiary fields and update search descriptions
  offsets_db_api/routers/projects.py
Labels: api

Rename search parameters to beneficiary_search for clarity in credits retrieval
  offsets_db_api/routers/credits.py
Labels: api

Add tests for beneficiary search functionality in credits and projects endpoints
  tests/test_credits.py
  tests/test_projects.py
Labels: none

Refactor get_projects to optimize Credit join handling for beneficiary search
  offsets_db_api/routers/projects.py
Labels: api

enable search across beneficiary columns on `/projects` endpoint (#138)
  offsets_db_api/routers/credits.py
  offsets_db_api/routers/projects.py
  tests/test_credits.py
  tests/test_projects.py
Labels: api

Add endpoint to retrieve project types with issued totals
  offsets_db_api/routers/projects.py
  tests/conftest.py
Labels: api

Refactor project types endpoint to use new ProjectTypes schema and improve response structure
  offsets_db_api/routers/projects.py
  offsets_db_api/schemas.py
  tests/test_projects.py
Labels: api

Rename top_6 field to top in ProjectTypes schema and update related endpoint response
  offsets_db_api/routers/projects.py
  offsets_db_api/schemas.py
Labels: api

Update test fixture URL for weekly summary clips to correct date
  tests/conftest.py
Labels: none

Add top_n parameter to get_project_types endpoint for dynamic response size
  offsets_db_api/routers/projects.py
Labels: api

Update project types tests to assert structure of response data
  tests/test_projects.py
Labels: none

Update project types test to assert 'top' field is a list
  tests/test_projects.py
Labels: none

Add authorization check to get_project_types endpoint and update test fixture URLs
  offsets_db_api/routers/projects.py
  tests/test_files.py
Labels: api

Apply suggestions from code review
  offsets_db_api/routers/projects.py
Labels: api

Rename fields in ProjectTypes schema from 'top' and 'others' to 'Top' and 'Other'
  offsets_db_api/schemas.py
Labels: api

Update project types tests to assert 'Top' and 'Other' fields are lists
  tests/test_projects.py
Labels: none

Add beneficiary search functionality to get_credits_by_category endpoint
  offsets_db_api/routers/charts.py
Labels: api

Remove unused base query from get_credits_by_category function
  offsets_db_api/routers/charts.py
Labels: api

Refactor get_project_types endpoint to use a helper function and streamline logic
  offsets_db_api/routers/projects.py
Labels: api

Add endpoint to retrieve project types (#139)
  offsets_db_api/routers/projects.py
  offsets_db_api/schemas.py
  tests/conftest.py
  tests/test_files.py
  tests/test_projects.py
Labels: api

Refactor beneficiary search logic into a reusable function for improved code clarity and maintainability
  offsets_db_api/routers/charts.py
  offsets_db_api/routers/credits.py
  offsets_db_api/routers/projects.py
  offsets_db_api/sql_helpers.py
Labels: api

Add beneficiary search functionality to `/charts/credits_by_category` endpoint (#140)
  offsets_db_api/routers/charts.py
  offsets_db_api/routers/credits.py
  offsets_db_api/routers/projects.py
  offsets_db_api/sql_helpers.py
Labels: api

add `project_type` querying to the `/charts/credits_by_category`
  offsets_db_api/routers/charts.py
  offsets_db_api/routers/projects.py
  offsets_db_api/sql_helpers.py
Labels: api

remove commented-out query in `get_credits_by_category` function
  offsets_db_api/routers/charts.py
Labels: api
